<link rel="stylesheet" type="text/css" href="/css/register.css">
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}
<div class="form" >
        <form method="POST" action="/users/register" class="register-form">
            <input type="text" placeholder="name" name="name" required/>
            <input type="text" placeholder="email address" name="email" required/>
            <input type="password" placeholder="password" name="password" required/>
            <input type="password" placeholder="repeat password" name="password2"required/>
            <button type="submit">register.</button>
            <p class="message">Already registered? <a href="/users/login">Sign In</a></p>
        </form>
</div>


