@import url(https://fonts.googleapis.com/css?family=Roboto:300);

#status {
    width: 1%;
}

#title {
    width: 15%;
}

#body {
    width: 30%;
}

#created {
    width: 15%;
}

#author {
    width: 15%;
}

#assignee {
    width: 15%;
}

#edit {
    width: 5%;
}

#delete {
    width: 5%;
}

i {
    margin-left: 15px !important;
}

.my-navbar-buttons {
    font-family: "Roboto", sans-serif;
    height: 10% !important;
    margin-top: 5% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-style: none !important;
    background-color: rgba(255, 255, 255, 0) !important;
    color: #FFFFFF;
    font-size: 16px !important;
}

.navbar-right {
    margin-right: 5% !important;
    margin-top: 1%;
}

#mySearch {
    border-radius: 4px;
    border-style: none;
}

.user {
    height: 51px !important;
    align-content: center !important;
    margin-left: 0% !important;
    font-weight: 700;
    color: #FFFFFF;
    padding-left: 50px !important;
    margin-top: 0% !important;
    border-bottom-style: solid !important;
    border-bottom: 2px;
    border-bottom-color: #FFFFFF;
}

img {
    margin-top: 50%;
    padding-bottom: 70px;
    margin-left: 0% !important;
    width: 100%;
}

.td-icons {
    padding: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-size: 20px !important;
    color: #a67d0a !important;
}

.td-icons.delete {
    color: #EF3B3A !important;
}

.myPanel {
    margin-top: 4% !important;
}

#authorize {
    margin-left: 5%!important;
    width: 90%!important;
    padding-left: 6%!important;
    padding-right: 0%!important;
}