
.form {
    position: relative;
    z-index: 1;
    background: rgba(256,256,256,0);
    width: 40%;
    margin-left: 55% !important;
    margin-top: 17.7% !important;
    padding: 0px;
    text-align: center;
    box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.24);
}

body{
    background-image: url("../images/registerBackground.jpg") !important;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}