
.form {
    z-index: 1;
    background: rgba(256,256,256,0);
    width: 100%;
    margin-top: 20% !important;
}

body{
    background-image: url("../images/registerBackground.jpg") !important;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}